RewriteEngine on
RewriteCond %{HTTP_HOST} ^adwokatmarciniak\.pl$ [NC]
RewriteRule (.*) http://www.adwokatmarciniak.pl/$1 [L,R=301]

RewriteRule ^$ index.php?page=kancelaria-adwokacka-wroclaw-adwokat-tomasz-marciniak [L]
RewriteRule ^index.html$ index.php?page=kancelaria-adwokacka-wroclaw-adwokat-tomasz-marciniak [L]
RewriteRule ^zakres-dzialalnosci-([0-9]+).html$ index.php?page=zakres-dzialalnosci&req=$1 [L]
RewriteRule ^wyslij3.html$ api/wyslij.php [L]
RewriteRule ^(.*).html$ index.php?page=$1 [L]


#RewriteEngine off